# For syncing with the database
GEWIS_GEWISDB_APITOKEN=

# For sending emails by the AD-DB sync
# This is a service account which sends on behalf of (another) email address
GEWIS_ADDBMAIL_USERNAME=
GEWIS_ADDBMAIL_EMAIL=
GEWIS_ADDBMAIL_PASSWORD=