# General
GEWIS_GEWISWG_COPY=

# memberSync.ps1 sends failures to the ticket system
# and creates a ticket in the name of CBC-AD
GEWIS_SYNCFAILURE_TO=
GEWIS_SYNCFAILURE_REPLYTO=

# Some OUs
GEWIS_OU_CONTACTS=
GEWIS_OU_LOCALPERMISSIONS=

# memberSync.ps1 sends successes to the ticket system
# and creates a ticket in the name of the secretary
GEWIS_SYNCSUCCESS_TO=
GEWIS_SYNCSUCCESS_REPLYTO=

# Group that contains accounts that were active in the last X days, with a 20 day margin!
GEWIS_ACTIVEACCOUNT_THRESHOLD=90
GEWIS_ACTIVEACCOUNT_SID=

# Domain Contacts
GEWIS_MAILDOMAINCONTACTS_SID=

# Some members may be hidden from the global address list, store them in this group
GEWIS_MAILGALHIDE_SID=
GEWIS_MAILGALSHOW_SID=
GEWIS_MAILGALCOMPUTED_SID=