# General
GEWIS_GEWISWG_COPY=

# memberSync.ps1 sends failures to the ticket system
# and creates a ticket in the name of CBC-AD
GEWIS_SYNCFAILURE_TO=
GEWIS_SYNCFAILURE_REPLYTO=

# memberSync.ps1 sends successes to the ticket system
# and creates a ticket in the name of the secretary
GEWIS_SYNCSUCCESS_TO=
GEWIS_SYNCSUCCESS_REPLYTO=
